In [1]:
import pandas as pd
d22_df = pd.read_csv('DEC22.VOL', sep='|')

In [11]:
import pandas as pd
jan18_df = pd.read_fwf('118.VOL', widths=[1,2,2,6,1,1,2,2,2,1,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,1])

jan18_df.columns = ['record_type', 'state_code', 'f_system', 'station_id', 'travel_dir',
       'travel_lane', 'year_record', 'month_record', 'day_record',
       'day_of_week', 'hour_00', 'hour_01', 'hour_02', 'hour_03', 'hour_04',
       'hour_05', 'hour_06', 'hour_07', 'hour_08', 'hour_09', 'hour_10',
       'hour_11', 'hour_12', 'hour_13', 'hour_14', 'hour_15', 'hour_16',
       'hour_17', 'hour_18', 'hour_19', 'hour_20', 'hour_21', 'hour_22',
       'hour_23', 'restrictions']

In [13]:
merged_df = pd.concat([d22_df, jan18_df], ignore_index=True)

In [14]:
merged_df

,record_type,state_code,f_system,station_id,travel_dir,travel_lane,year_record,month_record,day_record,day_of_week,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,restrictions
0,3,47,3U,3,1,1,22,12,1,5,...,766,897,791,669,522,419,332,224,151,0
1,3,47,3U,3,1,1,22,12,2,6,...,880,781,786,601,451,501,904,938,336,0
2,3,47,3U,3,1,1,22,12,3,7,...,941,930,884,864,734,619,546,470,334,0
3,3,47,3U,3,1,1,22,12,4,1,...,741,780,724,631,523,388,295,220,117,0
4,3,47,3U,3,1,1,22,12,5,2,...,687,774,662,481,412,284,197,128,99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7753,3,47,3U,540,5,2,18,1,11,5,...,458,517,440,291,246,138,99,93,63,0
7754,3,47,3U,540,5,2,18,1,12,6,...,489,495,370,222,212,156,225,121,93,0
7755,3,47,3U,540,5,2,18,1,16,3,...,308,221,168,138,118,73,55,49,39,0
7756,3,47,3U,540,5,2,18,1,15,2,...,425,406,382,245,186,131,106,72,60,0
7757,3,47,3U,540,5,2,18,1,14,1,...,220,174,219,159,132,115,80,96,63,0

In [3]:
print(df.columns)

Index(['record_type', 'state_code', 'f_system', 'station_id', 'travel_dir',
       'travel_lane', 'year_record', 'month_record', 'day_record',
       'day_of_week', 'hour_00', 'hour_01', 'hour_02', 'hour_03', 'hour_04',
       'hour_05', 'hour_06', 'hour_07', 'hour_08', 'hour_09', 'hour_10',
       'hour_11', 'hour_12', 'hour_13', 'hour_14', 'hour_15', 'hour_16',
       'hour_17', 'hour_18', 'hour_19', 'hour_20', 'hour_21', 'hour_22',
       'hour_23', 'restrictions'],
      dtype='object')